@keyframes Heart {
  0% {
    background-size: 100% 0%;
  }
  100% {
    background-size: 100% 100%;
  }
}
/***** Checked animation *****/
@keyframes slide {
  0% {
    transform: scaleX(0);
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
    opacity: 1;
  }
}
/***** Card menu animation *****/
@keyframes slide-menu {
  from {
    transform: translateY(1.25rem);
    opacity: 0%;
  }
  to {
    transform: translateY(0rem);
    opacity: 100%;
  }
}
/***** Menu animation *****/
@keyframes slide-up-menu {
  from {
    margin-top: -22rem;
  }
  to {
    margin-top: -8rem;
  }
}
/***** Loader *****/
@keyframes spinner {
  0% {
    transform: rotate(0deg);
    border-width: 0.5rem;
  }
  50% {
    transform: rotate(180deg);
    border-width: 1rem;
  }
  100% {
    transform: rotate(360deg);
    border-width: 0.5rem;
  }
}
@keyframes loading {
  0% {
    transform: scaleZ(1);
  }
  100% {
    transform: scaleZ(0);
  }
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: inherit;
}
a:active {
  color: inherit;
}
a:focus {
  color: inherit;
}

body, html {
  font-family: "roboto", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.btn {
  width: auto;
  border-radius: 1.5rem;
  border: none;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  cursor: pointer;
  box-shadow: 0 0.1rem 0.1rem 0.1rem #E1E1E1;
  color: white;
  font-size: 1rem;
  padding: 1rem;
}
.btn:hover {
  background: linear-gradient(to top left, #a16be0, #ff93e1);
  box-shadow: 0 0.1rem 0.1rem 0.1rem #AEAEAE;
}

.heart {
  font-size: 1.4rem;
  cursor: pointer;
}
.heart__full {
  position: relative;
  color: transparent;
  font-size: 1.4rem;
  bottom: 0.1rem;
}
.heart__empty {
  position: absolute;
  font-size: 1.4rem;
}
.heart:hover .heart__full {
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  background-size: 100% 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  animation: Heart 0.5s linear;
}
.heart:hover .heart__empty {
  opacity: 0.1;
  transition: all 0.5s;
  color: #9356DC;
}

.menu__checked {
  background-color: #99E2D0;
  box-shadow: 0 0 0.2rem 0.2rem #E1E1E1;
  cursor: pointer;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 1rem 1rem 0;
  transition-duration: 0.7s;
  opacity: 0;
  position: absolute;
  left: 95%;
  width: 13%;
  margin-left: -1.8rem;
}
.menu__checked_rotation {
  color: white;
  font-size: 1.5rem;
}

.menu__description:hover i {
  transform: rotate(1turn);
  transition: 450ms 200ms ease-out;
}

.menu__description:hover .menu__checked {
  animation: slide 600ms ease-in-out both;
  box-shadow: 0 0 0.2rem 0.2rem #AEAEAE;
}
@media only screen and (max-width: 1200px) {
  .menu__description:hover .menu__checked {
    width: 13%;
    margin-left: -4.6rem;
  }
}
@media only screen and (max-width: 1100px) {
  .menu__description:hover .menu__checked {
    width: 11%;
    margin-left: -3rem;
  }
}
@media only screen and (max-width: 780px) {
  .menu__description:hover .menu__checked {
    width: 12%;
    margin-left: -2.8rem;
  }
}
@media only screen and (max-width: 700px) {
  .menu__description:hover .menu__checked {
    width: 12%;
    margin-left: -2rem;
  }
}
@media only screen and (max-width: 480px) {
  .menu__description:hover .menu__checked {
    width: 13%;
    margin-left: -1.5rem;
  }
}

.menu__description:hover .menu__description_price {
  transition: 500ms ease-in-out;
  margin-right: 2rem;
}
@media only screen and (max-width: 700px) {
  .menu__description:hover .menu__description_price {
    margin-right: 3rem;
  }
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  z-index: 999;
  transform: scaleZ(0);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loading 3s linear;
}
.loader__spin {
  width: 8rem;
  height: 8rem;
  position: absolute;
  border: 1rem solid transparent;
  border-top-color: #9356DC;
  border-right-color: #FF79DA;
  border-left-color: #99E2D0;
  border-bottom-color: black;
  border-radius: 50%;
  animation: spinner 2s linear infinite;
}

/***** Header home *****/
.headerhome {
  text-align: center;
  box-shadow: 0 0 1.5rem #A4A4A4;
}
.headerhome__logo {
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.headerhome__logo:hover {
  transform: scale(1.06);
}

/***** Header restaurants *****/
.header {
  text-align: center;
  position: relative;
}
.header__logo {
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.header__logo:hover {
  transform: scale(1.06);
}
.header i {
  display: flex;
  position: absolute;
  font-size: 1.5rem;
  left: 10%;
  margin-top: 1.5rem;
}
.header i:hover {
  transform: scale(1.1);
}
.header__img {
  object-fit: cover;
  width: 100%;
  height: 25rem;
}

/***** Search section *****/
.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.search__form {
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  margin-top: 0.5rem;
}
.search__input {
  background-color: #EAEAEA;
  text-align: center;
  font-weight: bold;
  border: none;
  font-size: 1rem;
  color: black;
}
.search__discover {
  font-weight: 300;
}
.search__info {
  background-color: #F6F6F6;
  width: 100%;
  height: 15rem;
}

/***** Functioning section *****/
.functioning {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.functioning__title {
  margin-left: 1rem;
}
.functioning__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media only screen and (max-width: 800px) {
  .functioning__list {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
}
.functioning__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 1.5rem;
  width: 30%;
  font-weight: bold;
  height: 4rem;
  cursor: pointer;
  box-shadow: 0 0 0.2rem 0.2rem #F6F6F6;
}
@media only screen and (max-width: 800px) {
  .functioning__card {
    margin-bottom: 1rem;
    width: 100%;
  }
}
.functioning__card:hover {
  background: #f2eafb;
  box-shadow: 0 0 0.3rem 0.3rem #F6F6F6;
}
.functioning__number {
  display: flex;
  background-color: #9356DC;
  border-radius: 1.5rem;
  font-size: 0.9rem;
  color: white;
  position: relative;
  right: 0.8rem;
  width: 1.5rem;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
}
.functioning__icon {
  margin: 1rem;
  color: #6E6E6E;
}

/***** Restaurants section *****/
.restaurants {
  width: 100%;
  background-color: #F6F6F6;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.restaurants__title {
  margin-left: 1rem;
}
.restaurants__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
@media only screen and (max-width: 800px) {
  .restaurants__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}
.restaurants__description {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}
.restaurants__card {
  border-radius: 1.5rem 1.5rem;
  margin-bottom: 1rem;
  background-color: #FFF;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 0.2rem 0.2rem #E1E1E1;
}
.restaurants__card:hover {
  box-shadow: 0 0 0.2rem 0.2rem #AEAEAE;
  transform: scale(1.02);
  transition: all 0.2s;
}
.restaurants__card_img {
  object-fit: cover;
  border-radius: 1.5rem 1.5rem 0 0;
  width: 100%;
  height: 15rem;
}
.restaurants__card_text {
  line-height: 0.5rem;
}
.restaurants__card_subtitle {
  font-weight: 300;
}
.restaurants__card_new {
  position: absolute;
  background-color: #99E2D0;
  right: 1rem;
  top: 1rem;
  color: #278870;
  padding: 0.5rem;
  font-size: 0.9rem;
  width: 20%;
  text-align: center;
  font-weight: 500;
}

.menu {
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 1.5rem 1.5rem 0 0;
  position: relative;
  margin-top: -8rem;
  animation: slide-up-menu 1200ms ease-in-out;
}
.menu__name {
  font-family: "shrikhand", sans-serif;
  font-weight: 400;
  margin-left: 1rem;
  text-align: end;
  font-size: xx-large;
}
.menu__heart {
  font-size: x-large;
  cursor: pointer;
  display: flex;
  width: 10%;
}
.menu__header {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.menu__dishes {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 1200px) {
  .menu__dishes {
    grid-template-columns: 100%;
    width: 90%;
    font-size: 1rem;
    margin: auto;
    margin-bottom: 3rem;
  }
}
.menu__food {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.menu__choice {
  font-weight: 300;
  font-size: 1rem;
  margin-left: 0.5rem;
  position: relative;
}
.menu__choice::after {
  content: "";
  width: 2.5rem;
  height: 0.2rem;
  background-color: #99E2D0;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
}
.menu__description {
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 0 0 0.2rem 0.2rem #E1E1E1;
  align-items: center;
  display: grid;
  grid-template-columns: 70% 10% 10%;
  gap: 1.5rem;
  height: 5.5rem;
  padding: 0rem 0rem 0rem 1rem;
  cursor: pointer;
  animation: slide-menu 1000ms both;
}
.menu__description:hover {
  transform: scale(1.02);
  box-shadow: 0 0 0.2rem 0.2rem #AEAEAE;
}
.menu__description_1 {
  animation-delay: 400ms;
}
.menu__description_2 {
  animation-delay: 600ms;
}
.menu__description_3 {
  animation-delay: 800ms;
}
.menu__description_4 {
  animation-delay: 1000ms;
}
.menu__description_text {
  line-height: 1rem;
}
.menu__description_element {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__description_subtitle {
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__description_price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  position: relative;
  left: 80%;
  top: 25%;
}
.menu__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 4rem;
}
.menu__btn_order {
  width: 10rem;
}
.menu__btn_order:hover {
  background: linear-gradient(to top left, #a16be0, #ff93e1);
  box-shadow: 0 0.1rem 0.1rem 0.1rem #AEAEAE;
}

.footer {
  background-color: #353535;
  width: 100%;
  height: 10rem;
}
.footer__img {
  -webkit-filter: invert(1);
  width: 9rem;
  padding: 1rem;
  cursor: pointer;
}
.footer__img:hover {
  transform: scale(1.06);
}
.footer__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}
@media only screen and (max-width: 800px) {
  .footer__list {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 1rem;
    line-height: 1.5rem;
  }
}
.footer__element {
  color: white;
}
.footer a {
  color: white;
}
.footer a:hover {
  color: #9356DC;
}
.footer__icon {
  margin-right: 0.8rem;
}

/*# sourceMappingURL=style.css.map */
