*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
a:active {
  color: inherit;
}
a:focus {
  color: inherit;
}

body, html {
  font-family: "roboto", sans-serif;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

.menu__name {
  font-family: "shrikhand";
}

.btn {
  width: auto;
  border-radius: 1.5rem;
  border: none;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  cursor: pointer;
  box-shadow: 0 0.1rem 0.1rem 0.1rem #BDBDBD;
  color: white;
  font-size: 1rem;
  padding: 1rem;
}
.btn:hover {
  background: linear-gradient(to top left, #a16be0, #ff93e1);
  box-shadow: 0 0.1rem 0.1rem 0.1rem #AEAEAE;
}

.header {
  text-align: center;
  box-shadow: 0 0 1.5rem #A4A4A4;
}
.header__logo {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.header__logo__img {
  object-fit: cover;
  width: 100%;
  height: 50%;
}

/***** Search section *****/
.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.search__form {
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  margin-top: 0.5rem;
}
.search__input {
  background-color: #EAEAEA;
  text-align: center;
  font-weight: bold;
  border: none;
  font-size: 1rem;
  color: black;
}
.search__discover {
  font-weight: lighter;
}
.search__info {
  background-color: #F6F6F6;
  width: 100%;
  height: 15rem;
}

/***** Functioning section *****/
.functioning {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.functioning__title {
  margin-left: 1rem;
}
.functioning__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media only screen and (max-width: 800px) {
  .functioning__list {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 1rem;
  }
}
.functioning__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 1.5rem;
  width: 30%;
  font-weight: bold;
  height: 4rem;
  cursor: pointer;
  box-shadow: 0 0 0.2rem 0.2rem #F6F6F6;
}
@media only screen and (max-width: 800px) {
  .functioning__card {
    margin-bottom: 1rem;
    width: 100%;
  }
}
.functioning__card:hover {
  background: #f2eafb;
  box-shadow: 0 0 0.3rem 0.3rem #F6F6F6;
}
.functioning__number {
  display: flex;
  padding: 0.1rem 0.4rem 0.1rem 0.4rem;
  background-color: #9356DC;
  border-radius: 1.5rem;
  font-size: 0.9rem;
  color: white;
}
.functioning__icon {
  margin: 1rem;
  color: #6E6E6E;
}

/***** Restaurants section *****/
.restaurants {
  width: 100%;
  background-color: #F6F6F6;
}
.restaurants__title {
  margin-left: 1rem;
}
.restaurants__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
@media only screen and (max-width: 800px) {
  .restaurants__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}
.restaurants__card {
  border-radius: 1.5rem 1.5rem;
  margin-bottom: 1rem;
  background-color: #FFF;
}
.restaurants__card_img {
  object-fit: cover;
  border-radius: 1.5rem 1.5rem 0 0;
  width: 100%;
  height: 15rem;
}

/*# sourceMappingURL=style.css.map */
