/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(255, 255, 255, 0.8);
    z-index: 999;
    -webkit-transform:scaleZ(0);
            transform:scaleZ(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-animation: loading 3s linear;
            animation: loading 3s linear;
    &__spin {
        width: 8rem;
        height: 8rem;
        position: absolute;
        border: 1rem solid transparent;
        border-top-color: $color-primary;
        border-right-color: $color-secondary;
        border-left-color: $color-tertiary;
        border-bottom-color: black;
        border-radius: 50%;
        -webkit-animation: spinner 2s linear infinite;
                animation: spinner 2s linear infinite;
    }
}