*, 
*::before, 
*::after { 
    box-sizing: inherit;
}

a {
    text-decoration: none;
    &:visited {
        color:inherit;
    }
    &:active {
        color: inherit;
    }
    &:focus {
        color: inherit;
    }
}

body, html {
    font-family: "roboto", sans-serif;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

.menu__name {
    font-family: "shrikhand";
}