@keyframes Heart {
    0% {
      background-size: 100% 0%;
    }
    100% {
      background-size: 100% 100%;
    }
}
/***** Checked animation *****/ 

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/***** Card menu animation *****/ 

@keyframes slide-menu {
  from {
    transform: translateY(1.25rem);
    opacity: 0%;
  }

  to {
    transform: translateY(0rem);
    opacity: 100%;
  }
}

/***** Menu animation *****/

@keyframes slide-up-menu {
  from {
    margin-top: -22rem;
  }

  to {
    margin-top: -8rem;
  }
}

/***** Loader *****/

@keyframes spinner {
  0% {transform: rotate(0deg); border-width: 0.5rem}
  50% {transform: rotate(180deg); border-width: 1rem}
  100% {transform: rotate(360deg); border-width: 0.5rem}
}

@keyframes loading {
  0% {
    transform: scaleZ(1);
  }
  100% {
     transform: scaleZ(0);
  }
}