$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-search: #EAEAEA;
$color-background: #F6F6F6;
$border-radius: 1.5rem;
$shadow-size: .1rem;
$shadow-size-card: .2rem;
$shadow-size-hover: .3rem;
$shadow-color: #BDBDBD;
$shadow-color-hover: #AEAEAE;
$font-light: 300;
$font-title-menu: 400;
$color-footer: #353535;