.menu {
    width: 100%;
    background-color: $color-background;
    border-radius: $border-radius $border-radius 0 0;
    position: relative;
    margin-top: -8rem;
    animation: slide-up-menu 1200ms ease-in-out;
    &__name {
            font-family: "shrikhand", sans-serif;
            font-weight: $font-title-menu;
            margin-left: 1rem;
            text-align: end;
            font-size: xx-large;
    }
        &__heart {
            font-size: x-large;
            cursor: pointer;
            display: flex;
            width: 10%;
        }
            &__header {
                display: grid;
                grid-template-columns: auto auto;
                align-items: center;
                gap: 1rem;
                margin-top: 2rem;
            }
                &__dishes {
                    display: grid;
                    grid-template-columns: 30% 30% 30%;
                    gap: 2rem;
                    justify-content: center;
                    margin-bottom: 3rem;
                    @media only screen and (max-width: 1200px) {
                        grid-template-columns: 100%;
                        width: 90%;
                        font-size: 1rem;
                        margin: auto;
                        margin-bottom: 3rem;
                    }
                }
                    &__food {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                    }
                        &__choice {
                            font-weight: $font-light;
                            font-size: 1rem;
                            margin-left: .5rem;
                            position: relative;
                            &::after {
                                content: "";
                                width: 2.5rem;
                                height: .2rem;
                                background-color: $color-tertiary;
                                position: absolute;
                                bottom: -.5rem;
                                left: 0;
                            }
                        }
                            &__description {
                                background-color: white;
                                border-radius: $border-radius;
                                box-shadow: 0 0 $shadow-size-card $shadow-size-card $shadow-color;
                                align-items: center;
                                display: grid;
                                grid-template-columns: 70% 10% 10%;
                                gap: 1.5rem;
                                height: 5.5rem;
                                padding: 0rem 0rem 0rem 1rem;
                                cursor: pointer;
                                animation: slide-menu 1000ms both;
                                &:hover {
                                    transform: scale(1.02);
                                    box-shadow: 0 0 $shadow-size-card $shadow-size-card $shadow-color-hover;
                                }
                                &_1 {
                                    animation-delay: 400ms;
                                }
                                &_2 {
                                    animation-delay: 600ms;
                                }
                                &_3 {
                                    animation-delay: 800ms;
                                }
                                &_4 {
                                    animation-delay: 1000ms;
                                }
                                    &_text {
                                        line-height: 1rem;
                                    }
                                        &_element {
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            white-space: nowrap;
                                        }
                                            &_subtitle {
                                                font-weight: $font-light;
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                                white-space: nowrap;
                                            }
                                                &_price {
                                                    font-weight: bold;
                                                    display: flex;
                                                    justify-content: flex-end;
                                                    position: relative;
                                                    left: 80%;
                                                    top: 25%;
                                                }
                            }
                                                    &__btn {
                                                        display: flex;
                                                        flex-direction: row;
                                                        justify-content: center;
                                                        padding-bottom: 4rem;
                                                        &_order {
                                                            width: 10rem;
                                                            &:hover {
                                                                @include button_hover;
                                                                box-shadow: 0 $shadow-size $shadow-size $shadow-size $shadow-color-hover;
                                                            }
                                                        }
                                                    }
}